/* styles.css */
/* Custom styles */
.gjs-editor-cont .gjs-cv-canvas {
    width: 100%;
}

.gjs-editor-cont .gjs-pn-panels {
    display: none !important;
}

.gjs-editor-cont .gjs-one-bg {
    background: none !important;
}

.gjs-blocks-cs {
    background: none !important;
}

.gjs-blocks-cs .gjs-one-bg {
    background: none !important;
}

.gjs-two-color {
    color: #000 !important;
}

.gjs-blocks-cs .gjs-blocks-c .gjs-block {
    min-height: 0 !important;
}

#traits-container .gjs-one-bg , #layers-container .gjs-one-bg {
    background-color: transparent !important;
}
#traits-container .gjs-field{
    background-color: #F6F9FF;
}
#traits-container .gjs-label{
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    font-weight: 500;
}

